// @import 'common'; 얘는 구식
@use 'common' as *;

// main.scss

$m_value:80px;
// body, html{ 화면 부드럽게 
//   scroll-behavior: smooth;
// }

main{
  overflow: hidden;
  clear: both;//header 영역에서 혹시 사용된 float속성이 있다면 float 속성 해제 한다

  > #movie{
    height: 100vh;
    background-color: $line_color_g;
    > video{
      width: 100%;
    }
    > .m_info{
      position: absolute;
      width: 100%;
      top: 46%;
      text-align: center;
      z-index: 100;
      color: $txt_color2;

      > h2{
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bold;
      }
      > p{
        line-height: 80px;
        font-size: $t_size_m;
      }
      > a{
        color: $txt_color2;
        font-size: 14px;
        text-decoration: underline;
        margin: 0px 20px;
        padding: 5px 10px;
      }
      // 첫번째 메뉴 서식 배경색 적용
        a:first-of-type{
          background: $nav_color2;
      }
    }

    // 다음 페이지 이동하기 버튼 서식
    @mixin arrow_btn{
      border-left:1px solid $txt_color2 ;
      border-bottom: 1px solid $txt_color2;
      transform: rotate(-45deg);
      width: 40px;
      height: 40px;
    }
    > #next_btn{
      //글자 숨기기
      display: inline-block;
      // text-indent: -9999px;
      // font-size: 0px;
      color: rgba(0, 0, 0, 0);
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include arrow_btn;

    }
  }




  > #event{
    height: 650px;

  }
  > #buy{
    height: 1150px;

  }

}

// 모달 서식
.modal{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999999;
  img{
    display: block;
    width: 100%;
  }
  > .m_inner{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    > .btn_area{
      margin: 0;
      line-height: 50px;
      background-color: $txt_color2;
      > #c_btn{
        width: 50px;
        height: 30px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        background-color: $txt_color2;
        border: none;
      }
    }
  }
}

//컨텐츠 제목 서식
  @mixin m_title(){
    font-size:$t_size_t3;
    text-align: center;
    font-weight: bold;
    padding: $m_value 0px 10px 0px;
  }

  // 버튼 서식
  @mixin btn(){
    border: 1px solid $txt_color2;
    background-color: $txt_color2;
    padding: 8px 26px;
  }
  .btn{
    @include btn;
  }
  //top3, intro, test_drive, event, buy
  .m_title{
    margin:$m_value 0px 0px 0px;
    @include m_title;
  }

  // 2. 가장 많이 찾는 캐스퍼 top3
  #top3{
    text-align: center;
    padding-bottom: 54px;
    >.p01{
      font-size: $t_size_m;
      line-height: 50px;
    }
  }
  // 스와이퍼 슬라이드 서식
  .top3{
    position: relative;
    margin-top: 50px;
    padding: 20px 0px 50px 0px !important;
    > .swiper-wrapper{
      width: 100%;
      height: 100%;
      >.swiper-slide{
        height: 100%;
      }
      .rank{
        color: #327186;
        border: 1px solid #327186;
        padding: 6px 30px;
        border-radius: 20px;
        font-size: $t_size_ss;
      }
      .top3_title{
        font-size: $t_size_t1;
        font-weight: 600;
        padding-top: 30px;
        color: $txt_color5;
      }
      // 자동차 사진
      img{
        width: 400px;
        padding: $m_value 0px;
        transition: 0.8s;
      transition-timing-function: cubic-bezier(0, 1, 1, 1);
        transform: scale(0.7);
      }
      .swiper-slide-active img{
        transform: scale(1.1);
      }
      //디테일 - 색상정보, 가격정보, 옵션 서식
      .detail{
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        >li{
          width: 190px;
          padding: 0px 20px;
          line-height: 20px;
          font-size: $t_size_m;
          border-right: 1px solid $line_color_g;
        }
        >li:last-child{
          border: none;
          padding: 6px;
        }
        .price{
          font-size: $t_size_t1;
          font-weight: bold;
          color: $txt_color5;
        }
      }
      .out_color, .inner_color{
        display: inline-block;
        width: 56px;
        height: 40px;
        text-indent: -9999px;
        float: left;
        margin-right: 10px;
      }
      .kaki{background-color: #494b3e;}
      .black{background-color: #000;}
      .white{background-color: #fff;
      border: 1px solid #ccc;}
      .orange{background-color: rgb(190, 86, 0);}
    }
    // 스와이퍼 슬라이드 컨트롤 버튼 서식 
    .swiper-pagination-bullet{
      width: 100px !important;
      height: 10px !important;
      background-color: $txt_color4;
      border-radius: 0px !important;
      margin: 0 5px !important;
    }
  }
      // .swiper {
      //   width: 100%;
      //   height: 100%;
      // }
      // .swiper-slide {
      //   text-align: center;
      //   font-size: 18px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
      // .swiper-slide img {
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
  
      #top3 .swiper-button-next, #top3 .swiper-button-prev{
        height: 10px;
      }


// 3. 소개페이지////////////////////////////////////////////////
#intro{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#intro > h2{
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: 100;
}
.intro_title_left, .intro_title_right{
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.intro_title_left{
  top: 200px;
  // left: 130px;
  left: -330px;
}
.intro_title_right{
  bottom: 200px;
  // right: 150px;
  right: -300px;
  text-align: right;
}
#intro video{
  width: 100%;

}
#intro .btn{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

}
// 4. 시승신청(체험)
#test_drive{
  text-align: center;
  > .p01{
    font-size: $t_size_ss;
  }
  > article{
    width: 430px;
    height: 280px;
    border: 1px solid $line_color_g;
    padding: 15px;
    margin-top: 50px;
    display: inline-block;
    vertical-align:middle ;
    > h3{
      font-size: 24px;
      padding-top: 20px;
      font-weight: bold;
      line-height: 34px;
    }
    > p{
      padding: 20px 0px;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
}

@mixin btn1{
  padding: 10px 60px;
  color: $txt_color2;
  background-color: $txt_color3;
  line-height: 30px;
}

.test_d_btn1{@include btn1;}
.test_d_btn2{
  display: block;
  position: relative;
  top: 20px;
  color: $nav_color1;
  font-weight: 450;
}

.test_d_p{
  transform:  translateY(50px);
}
.test_drive_r .test_d_p{
  transform: translateY(64px);
}

// 5. 이벤트 프로모션
#event{
  text-align: center;
  > .p01{font-size: $t_size_ss;}
}

// 이벤트 슬라이드 서식

.event{
  margin-top: 80px;
  width: 1200px;
  > .swiper-wrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
  }
  >.swiper-slide{
    height: 100%;
  }
  img{
    width: 1200px;
  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px !important;
    margin: 0 5px !important;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active{
    animation: bullet_active 0.3s forwards
  }
}

// 슬라이드 페이지네이션 애니메이션 키프레임
@keyframes bullet_active{
  0%{width: 15px;  background-color: #ccc; opacity: 0.2;}
  100%{width: 100px; border-radius: 10px; background-color: $txt_color3; opacity: 1;}
}


// 6 구매하기 
#buy{
  text-align: center;
  > .p01{
    font-size: $t_size_m;
    line-height: 50px;
  }
  h3{
    font-size: $t_size_t2;
    padding: 40px 0px 20px 0px;
    font-weight: bold;
  }
  .t_color{
    color: $txt_color4;
  }
  .buy_info_list{
    display: grid;
    width: 1200px;
    margin: $box_center;
    grid-template-columns: repeat(3,33.333333%);
    >li{
      padding-top:50px;
      >img{
        width: 80px;
        padding: 15px 0px;
      }
      >h4{
        font-size: 18px;
        font-weight: bold;
      }
      >.p02{
        line-height: 20px;
      }
    }
    >li:last-child{
      // 마지막 li는 영상 컨텐츠라서 병합을 해야 함
      grid-area: 3/1/4/4;
      iframe{
        width: 70%;
        height:430px;
      }
    }
  }
  
}

// 7 고객지원
#customer{
  background: $bg_color_light_g;
  >article{
    padding: 24px 0px;
    width: 1200px;
    height: 300px;
    margin: 15px auto;
    background: $txt_color2;
    
    >h3{
      font-size: 18px;
      text-align: center;
      padding: 60px 0px 20px 0px;
      font-weight: bold;
    }
    .ars_left{
      border-right:1px solid $line_color_g
    }
    .ars_left, .ars_right{
      width: 50%;
      padding: 20px 30px;
      box-sizing: border-box;
      float: left;
      display: flex;
      justify-content: space-around;
      > p{
        display: flex;
        flex-direction: column; //세로방향 배치
        line-height: 30px;
        text-align: center;
        align-items: center;
        >a{
          color:$nav_color2;
        }
      }
      >dl{line-height: 24px;}
      >dl > dt{font-weight: bold;}

    }
    strong{
      font-weight: 500px;
      font-size: $t_size_m;
    }
  }
}
//아이콘 배경 서식
.car_icon, .member_icon{
  background: url('../images/bg-support-ars.png');
  display: inline-block;
  height: 46px;
  text-indent: -9999px;
  margin-top: 30px;
}

// 아이콘 크기 각각 설정 ,크기 지정함
.car_icon{width: 75px;}
.member_icon{
  width: 60px;
  background-position: -90px 0px;
  transform: translateY(-30px);
}

//float 속성 해제
.clearfix{
  clear: both;//float 속성 해제
  content: '';
  display: block;
}

// 기타 상담
.cs_etc{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 15px auto;
  >li{
    width: 280px;
    height: 270px;
    background-color: $txt_color2;
    position: relative;
    
    >h3{
      font-size: 18px;
      padding: 30px 35px;
    }
    >p{
      line-height: 24px;
      padding-left: 35px;
    }
    >p:first-of-type{
      font-weight: bold;
    }
    >a{
      margin: 0 auto;
      width: 120px;
      line-height: 35px;
      position: absolute;
      left: 80px;
      bottom: 20px;
      text-align: center;
      background-color: $txt_color5;
      color: $txt_color2;
    }
  }
}

.app{
  position: absolute;
  left: 40px;
  bottom: 15px;
  text-align: center;
  >a:first-child{
    display: block;
    
  }
  >a{
    font-size: $t_size_ss;
    color: $nav_color2;
  }
}

// 랜덤 배너 이미지
.r_banner{
  background-color: #000;
  width: 1200px;
  height: 300px;
  margin: 15px auto;

  > img{
    width: 100%;
    height: 100%;
  }
}