// @import 'common'; 얘는 구식
@use 'common' as *;
// main.scss

$m_value:80px;
// body, html{ 화면 부드럽게 
//   scroll-behavior: smooth;
// }

main{
  overflow: hidden;
  clear: both;//header 영역에서 혹시 사용된 float속성이 있다면 float 속성 해제 한다

  > #movie{
    height: 100vh;
    background-color: $line_color_g;
    > video{
      width: 100%;

    }
    > .m_info{
      position: absolute;
      width: 100%;
      top: 46%;
      text-align: center;
      z-index: 100;
      color: $txt_color2;
      > h2{
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bold;
      }
      > p{
        line-height: 80px;
        font-size: $t_size_m;
      }
      > a{
        color: $txt_color2;
        font-size: 14px;
        text-decoration: underline;
        margin: 0px 20px;
        padding: 5px 10px;
      }
      // 첫번째 메뉴 서식 배경색 적용
        a:first-of-type{
          background: $nav_color2;
      }
    }

    // 다음 페이지 이동하기 버튼 서식
    @mixin arrow_btn{
      border-left:1px solid $txt_color2 ;
      border-bottom: 1px solid $txt_color2;
      transform: rotate(-45deg);
      width: 40px;
      height: 40px;
    }
    > #next_btn{
      //글자 숨기기
      display: inline-block;
      text-indent: -9999px;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include arrow_btn;
    }
  }


  > #top3{
    height: 1146px;
    background-color: #456;
  }
  > #intro{
    height: 923px;
    background-color: aqua;
  }
  > #test_drive{
    height: 923px;
    background-color: navy;
  }
  > #event{
    height: 923px;
    background-color: purple;
  }
  > #buy{
    height: 923px;
    background-color: bisque;
  }
  > #customer{
    height: 923px;
    background-color: violet;
  }
}

// 모달 서식
.modal{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999999;
  img{
    display: block;
    width: 100%;
  }
  > .m_inner{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    > .btn_area{
      margin: 0;
      line-height: 50px;
      background-color: $txt_color2;
      > #c_btn{
        width: 50px;
        height: 30px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        background-color: $txt_color2;
        border: none;
      }
    }
  }
}

//컨텐츠 제목 서식
  @mixin m_title(){
    font-size:$t_size_t3;
    text-align: center;
    font-weight: bold;
    padding: $m_value 0px 10px 0px;
  }

  // 버튼 서식
  @mixin btn(){
    border: 1px solid $txt_color2;
    background-color: $txt_color2;
    padding: 8px 26px;
  }
  .btn{
    @include btn;
  }
  //top3, intro, test_drive, event, buy
  .m_title{
    margin:$m_value 0px 0px 0px;
    @include m_title;
  }

  // 2. 가장 많이 찾는 캐스퍼 top3
  #top3{
    text-align: center;
    >.p01{
      font-size: $t_size_m;
      line-height: 50px;
    }
  }
  // 스와이퍼 슬라이드 서식
  .top3{
    position: relative;
    margin-top: 50px;
    padding: 20px 0px 50px 0px;
    > .swiper-wrapper{
      width: 100%;
      height: 100%;
      >.swiper-slide{
        height: 100%;
      }
      .rank{
        color: #327186;
        border: 1px solid #327186;
        padding: 6px 30px;
        border-radius: 20px;
        font-size: $t_size_ss;
      }
      .top3_title{
        font-size: $t_size_t1;
        font-weight: 600;
        padding-top: 30px;
        color: $txt_color5;
      }
      // 자동차 사진
      img{
        width: 400px;
        padding: $m_value 0px;
        transition: 0.8s;
        transition-timing-function: cubic-bezier(0,1, 1.0);
        transform: scale(0.7);
      }
      .swiper-slide-active img{
        transform: scale(1.1);
      }
      //디테일 - 색상정보, 가격정보, 옵션 서식
      .detail{
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        >li{
          width: 190px;
          padding: 0px 20px;
          line-height: 20px;
          font-size: $t_size_m;
          border-right: 1px solid $line_color_g;
        }
        >li:last-child{
          border: none;
          padding: 6px;
        }
        .price{
          font-size: $t_size_t1;
          font-weight: bold;
          color: $txt_color5;
        }
      }
      .out_color, .inner_color{
        display: inline-block;
        width: 56px;
        height: 40px;
        text-indent: -9999px;
        float: left;
        margin-right: 10px;
      }
      .kaki{background-color: #494b3e;}
      .black{background-color: #000;}
      .white{background-color: #fff;
      border: 1px solid #ccc;}
      .orange{background-color: rgb(190, 86, 0);}
    }
    // 스와이퍼 슬라이드 컨트롤 버튼 서식 
    .swiper-pagination-bullet{
      width: 100px !important;
      height: 10px !important;
      background-color: $txt_color4;
      border-radius: 0px !important;
      margin: 0 5px !important;
    }
  }
      // .swiper {
      //   width: 100%;
      //   height: 100%;
      // }
      // .swiper-slide {
      //   text-align: center;
      //   font-size: 18px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
      // .swiper-slide img {
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
  
      #top3 .swiper-button-next, #top3 .swiper-button-prev{
        height: 10px;
      }
#top3 .swiper-button-next::after, #top3 .swiper-button-next::before{

}