@use 'common' as *;

//sub.scss
//서브페이지 헤더, 푸터 공통서식
header{
  position: static;
}

// 메인메뉴 
header nav .gnb a{
  color: $txt_color1;
}
header .nav_icon  span.fas{
  color: $txt_color1;
  }


  //로그인 서식 
  main{
    background-color: $bg_color_light_g;
    text-align: center;
    >form{
      width: 100%;
      height: 600px;
      position: relative;
      >fieldset{
        width: 350px;
        height: 500px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        legend{
          // height: 100%;
          font-size: $t_size_t1;
          font-weight: bold;
          padding:30px 0px;
        }
      }
    }
  }
  #mb_id, #pw_txt{
    width: 350px;
    height: 40px;
    border: none;
    margin: 5px 0px;
    text-indent: 5px;
  }
.save{
text-align: left;
padding: 10px 0px;
  }
#login_btn{
  width: 100%;
  height: 40px;
  border: none;
  color: $txt_color2;
  background-color: $nav_color2;
  margin-bottom: 10px;
}
.more{
  padding: 10px;
  >a{
    padding: 0px 10px;
    border-right: 1px solid #333;
  }
  >a:last-child{
    border: none;
  }
}